<a href="https://colab.research.google.com/github/Nielatrue/Home_Sales/blob/main/Home_Sales.ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip install findspark
!pip install pyspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=94b1f76e9062485ec14087a7371a42f7beab9f492a14da0370ab1f139ba9c072
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [8]:
# Import findspark and initialize.
import findspark
findspark.init()

In [9]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [10]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [31]:
# 2. Create a temporary view of the DataFrame.
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get('home_sales_revised.csv'), sep=",", header=True)
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [80]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
filter_4bed_df.createOrReplaceTempView('4bedrooms')

print('View for AVG Price for 4 Bedrooms in Each Year')
bedrooms4_avg_yr = spark.sql("""select year, ROUND(avg(price),2) AS average_price from 4bedrooms GROUP BY year ORDER BY year""").show(truncate=False)

View for AVG Price for 4 Bedrooms in Each Year
+----+-------------+
|year|average_price|
+----+-------------+
|2019|300263.7     |
|2020|298353.78    |
|2021|301819.44    |
|2022|296363.88    |
+----+-------------+

In [79]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?


print('View for AVG Price for 3 Bed 3 Baths in Each Year')
bed_3_bath_avg_yr = spark.sql("""select date_built, ROUND(avg(price),2) AS average_price from 3beds3baths GROUP BY date_built ORDER BY date_built""").show(truncate=False)

View for AVG Price for 3 Bed 3 Baths in Each Year
+----------+-------------+
|date_built|average_price|
+----------+-------------+
|2010      |292859.62    |
|2011      |291117.47    |
|2012      |293683.19    |
|2013      |295962.27    |
|2014      |290852.27    |
|2015      |288770.3     |
|2016      |290555.07    |
|2017      |292676.79    |
+----------+-------------+

In [78]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,

#Create a view based on filtered database
filter_3bed_3bath_bighome_df.createOrReplaceTempView('3beds3bathsbighouse')



# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
print('View for AVG Price for 3 Bed, 3 Baths, 2 Floors & 2,000 square feet in Each Year')
bed_3_bath_big_house_avg_yr = spark.sql("""select date_built, ROUND(avg(price),2) AS average_price from 3beds3bathsbighouse GROUP BY date_built ORDER BY date_built""").show(truncate=False)

View for AVG Price for 3 Bed, 3 Baths, 2 Floors & 2,000 square feet in Each Year
+----------+-------------+
|date_built|average_price|
+----------+-------------+
|2010      |280447.23    |
|2011      |281413.45    |
|2012      |295858.68    |
|2013      |295142.13    |
|2014      |294195.13    |
|2015      |291788.36    |
|2016      |287812.6     |
|2017      |282026.59    |
+----------+-------------+

In [77]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

print('View for AVG Price based on View Ratings')
avg_view = spark.sql("""select view, ROUND(avg(price),2) AS average_price from views GROUP BY view ORDER BY view""").show(truncate=False)


start_time = time.time()
print("--- %s seconds ---" % (time.time() - start_time))

View for AVG Price based on View Ratings
+----+-------------+
|view|average_price|
+----+-------------+
|0   |403848.51    |
|1   |401044.25    |
|10  |401868.43    |
|100 |1026669.5    |
|11  |399548.12    |
|12  |401501.32    |
|13  |398917.98    |
|14  |398570.03    |
|15  |404673.3     |
|16  |399586.53    |
|17  |398474.49    |
|18  |399332.91    |
|19  |398953.17    |
|2   |397389.25    |
|20  |399522.81    |
|21  |399758.88    |
|22  |402022.68    |
|23  |403411.92    |
|24  |400284.92    |
|25  |401298.69    |
+----+-------------+
only showing top 20 rows

--- 9.059906005859375e-05 seconds ---

In [85]:
# 7. Cache the the temporary table home_sales.
df.createOrReplaceTempView('home_sales')
spark.sql('cache table home_sales')

DataFrame[]

In [86]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [89]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()


avg_view_cache = spark.sql("""select view, ROUND(avg(price),2) AS average_price from home_sales GROUP BY view ORDER BY view""").show(truncate=False)


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|average_price|
+----+-------------+
|0   |285069.21    |
|1   |288248.11    |
|10  |289693.49    |
|100 |1026669.5    |
|11  |280356.07    |
|12  |286575.22    |
|13  |285849.95    |
|14  |282519.32    |
|15  |284907.04    |
|16  |291990.83    |
|17  |286601.22    |
|18  |287532.36    |
|19  |280347.62    |
|2   |287710.06    |
|20  |284820.43    |
|21  |283451.36    |
|22  |284908.42    |
|23  |286977.37    |
|24  |281878.86    |
|25  |288583.21    |
+----+-------------+
only showing top 20 rows

--- 0.6224489212036133 seconds ---

In [90]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").mode("overwrite").parquet("delayed_partitioned")

In [95]:
# 11. Read the formatted parquet data.
p_df_p=spark.read.parquet('delayed_partitioned')

In [103]:
# 12. Create a temporary table for the parquet data.
p_df_p.createOrReplaceTempView('parquet_data')

In [107]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()
print('View for AVG Price based on View Ratings Partition')
avg_view_parquet = spark.sql("""select view, ROUND(avg(price),2) AS average_price from parquet_data GROUP BY view ORDER BY view""").show(truncate=False)




print("--- %s seconds ---" % (time.time() - start_time))

View for AVG Price based on View Ratings Partition
+----+-------------+
|view|average_price|
+----+-------------+
|0   |285069.21    |
|1   |288248.11    |
|10  |289693.49    |
|100 |1026669.5    |
|11  |280356.07    |
|12  |286575.22    |
|13  |285849.95    |
|14  |282519.32    |
|15  |284907.04    |
|16  |291990.83    |
|17  |286601.22    |
|18  |287532.36    |
|19  |280347.62    |
|2   |287710.06    |
|20  |284820.43    |
|21  |283451.36    |
|22  |284908.42    |
|23  |286977.37    |
|24  |281878.86    |
|25  |288583.21    |
+----+-------------+
only showing top 20 rows

--- 0.6412436962127686 seconds ---

In [108]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [110]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached("home_sales")

False